.page-content {
	display: flex;
	max-width: $site-max-width;
	margin: 0 auto;
	padding: $large-space $space;
	height: $page-content-height;
}

.page-content__sidebar {
	width: $page-content-sidebar-width;
	display: flex;
	padding-right: $large-space;
}

@media (max-width: 50rem) {
	.page-content__sidebar * {
		color: red;
	}
}

.page-content__main {
	width: $page-content-main-width;
	display: flex;
}
